@import "../../../asset/Sass/index";

.skills_knowledge_body {
    & .skills_knowledge_item {
        margin-top: 30px;

        & .skills_knowledge_info h3 {
            margin-bottom: 11px;
        }

        & img {
            border-radius: 50%;
            object-fit: contain;
            flex-shrink: 0;
            width: 55px;
            height: 55px;
            box-shadow: 10px 10px 20px 0px rgb(57 56 56 / 10%);
            -webkit-box-shadow: 10px 10px 20px 0px rgb(57 56 56 / 10%);
            -moz-box-shadow: 10px 10px 20px 0px rgba(57, 56, 56, 0.1);

        }
    }
}

.progress_body {
    position: relative;

    & .progress_bar {
        height: 10px;
        border-radius: 10px;
        background-color: white;
        @include all-box-shadow;

        & .MuiLinearProgress-bar {
            height: 10px;
            border-radius: 10px;
            transition: 1s cubic-bezier(1, 0, .5, 1);
            -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
            -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
            background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
            background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
            background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
            background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
        }
    }

    & .count {
        width: 100%;
        text-align: right;
        position: absolute;
        right: 0;
        top: -23px;
        font-size: 16px;
        font-weight: 600;
    }
}

.more_skills_body {
    margin-top: 30px;

    & .more_skills {
        @include flex-box;

        & .skills_item {
            @include all-box-shadow;
            border-radius: 50%;
            object-fit: contain;
            flex-shrink: 0;
            width: 60px;
            background: #e1dede;
            height: 60px;
            margin-left: -17px;
            overflow: hidden;
            border: 3px solid white;

            &:first-child {
                margin: 0px;
            }

            & .more_skills_btn {
                display: flex;
                align-items: center;
                flex-direction: column;
                height: 60px;

                & h3 {
                    font-weight: $SemiBold  !important;
                    margin-bottom: 2px;
                }

                & p {
                    color: $gray;
                    font-weight: $SemiBold  !important;
                }

            }
        }
    }
}