@import "../index";



.work_profile_body {
    & .work_profile_text {
        @include flex-box-space;
        margin-bottom: $forty-five;
        font-size: 1.3em;

        &::after {
            content: "";
            width: $sixty;
            border-radius: $five;
            height: $three;
            background-color: $primery-color;
        }
    }

}

.work_profile {
    margin-top: $thirty-two;

    & h4 {
        color: $primery-color;
        margin-bottom: $ten;
    }
}

.project_body {
    display: $flex  !important;
    justify-content: flex-start !important;
    padding: $five  !important;
    background-color: $white  !important;
    border-radius: $five  !important;
    gap: $seventeen;
    @include all-box-shadow;

    & .project_pic {
        width: 150px;
        height: 75px;
        border: $onepx solid #DCDCDC;
        border-radius: $five;
        object-fit: contain;
        flex-shrink: 0;
        overflow: hidden;
        @include flex-box;


        & img {
            border-radius: $five;
        }
    }
}

.project_info {
    flex-grow: $one;

    & span {
        position: $position-absolute;
        right: $seventeen;
        color: $primery-color;
        bottom: $twelve;
    }

    & h3 {
        font-size: 1.1em;
        font-weight: $SemiBold  !important;
        margin-bottom: $five;
        color: $work-profile-main;
    }

    & p {
        width: 60%;
        font-size: .9em;
        color: $work-profile-sub;
    }
}