@import "../../../asset/Sass/index";

.content_profile {
    & p {
        color: $primery-color;
        margin-bottom: $six;
    }

    & h2 {
        font-size: 2.5em;
    }

    & h4 {
        margin-top: $ten;
        color: $gray;
    }


}