@import "../../../asset/Sass/index";

.content_profile {
    & p {
        color: $primery-color;
        margin-bottom: 6px;
    }

    & h2 {
        font-size: 2.5em;
    }

    & h4 {
        margin-top: 10px;
        color: $gray;
    }


}