@import "../../../../asset/Sass/index";

.view_more {
    text-transform: capitalize !important;
    font-weight: $SemiBold  !important;
    gap: $ten;
    color: $primery-color  !important;
    padding: $zero  !important;

    & span {
        font-size: 1.8em;
        line-height: 0;
        font-weight: $Medium;
    }
}