

// Color 

$primery-color:#2497FB;

$body-color:#EEF8FF;
$white:white;
$gray:#4A4A4A;

$introduction:$primery-color;
$skills:#56A469;
$work:#F25757;
$education:#D2A10D;
$professional:#0E90CE;
$contact:#707070;

$copy-right-bg:#EFF8FF;
$copy-right-border:#8BC9F5;

$work-profile-main:#404040;
$work-profile-sub:#535252;


//social media

$facebook:#4CA9FB;
$whatsapp:#24BC39;
$skype:#00AFF0;
$mail:#B14C3F;
$linkedin:#0E76A8;
$phone:#858585;

