//Text color
$purplle: #5B0547;


// Color 

$primery-color: #2497FB;

$body-color: #EEF8FF;
$white: white;
$gray: #4A4A4A;

$introduction: $primery-color;
$skills: #56A469;
$work: #F25757;
$education: #D2A10D;
$professional: #0E90CE;
$contact: #707070;

$copy-right-bg: #EFF8FF;
$copy-right-border: #8BC9F5;

$work-profile-main: #404040;
$work-profile-sub: #535252;


//social media

$facebook: #4CA9FB;
$whatsapp: #24BC39;
$skype: #00AFF0;
$mail: #F25757;
$linkedin: #0E76A8;
$phone: #858585;


// Contact Us

$address-color: $primery-color;
$address-bgcolor: #DBEEFF;
$address-broder: #ADD7FC;


$contact-number-color: #7A055F;
$contact-number-bgcolor: #FFD8F6;
$contact-number-broder: #FCACEA;

$whatsApp-color: $whatsapp;
$WhatsApp-bgcolor: #E1FFE8;
$WhatsApp-broder: #9FEFB3;

$email-color: $mail;
$email-bgcolor: #FFDEDE;
$email-broder: #FCBCBC;

$skype-color: $skype;
$skype-bgcolor: #D8F5FF;
$skype-broder: #BAE8F9;

$linkedin-color: $linkedin;
$linkedin-bgcolor: #D6F1FF;
$linkedin-broder: #A1DEFE;