@use "variable";
@use "colors";


// flex-box

@mixin flex-box {
    display: variable.$flex;
    align-items: variable.$align-center;
}

@mixin flex-box-space {
    @include flex-box;
    justify-content: space-between;
}

@mixin flex-box-center {
    @include flex-box;
    flex-direction: column;
}

@mixin flex-box-column {
    display: variable.$flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin menu-item-flex-box {
    display: variable.$flex;
    flex-direction: column;
    gap: variable.$thirty-five;
}

// box-shadow

@mixin all-box-shadow {
    box-shadow: 10px 10px 20px 0px rgba(57, 56, 56, 0.1);
    -webkit-box-shadow: 10px 10px 20px 0px rgba(57, 56, 56, 0.1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(57, 56, 56, 0.1);
}

@mixin box-shadow {
    box-shadow: 1px 5px 18px 0px rgba(130, 127, 127, 0.75);
    -webkit-box-shadow: 1px 5px 18px 0px rgba(130, 127, 127, 0.75);
    -moz-box-shadow: 1px 5px 18px 0px rgba(130, 127, 127, 0.75);
}

@mixin social-media-box-shadow {
    box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.29);
    -webkit-box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.29);
}




@mixin menu-icon {
    background: colors.$body-color;
    padding: variable.$eight;
    font-size: 1.3em;
    border-radius: variable.$ten;
    // box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.09);
    // -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.09);
    // -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.09);
}

@mixin contactus-icon {
    font-size: 1.4em;
    padding: variable.$twelve;
    border-radius: variable.$ten;
}

@mixin progress-bar-color {
    transition: 1s cubic-bezier(1, 0, .5, 1);
    -webkit-transition: 1s cubic-bezier(1, 0, .5, 1);
    -ms-transition: 1s cubic-bezier(1, 0, .5, 1);
    background-image: -webkit-gradient(linear, left top, right top, from(#072142), color-stop(42%, #8c2b7a), to(#ff4d5a));
    background-image: -webkit-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: -o-linear-gradient(left, #072142, #8c2b7a 42%, #ff4d5a);
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
}