// size
$one: 1;
$zero: 0px;
$onepx: 1px;
$two: 2px;
$three: 3px;
$five: 5px;
$six: 6px;
$eight: 8px;
$nine: 9px;
$ten: 10px;
$twelve: 12px;
$fifteen: 15px;
$seventeen: 17px;
$eighteen: 18px;
$twenty: 20px;
$twenty-three: 23px;
$twenty-five: 25px;
$thirty: 30px;
$thirty-two: 32px;
$thirty-five: 35px;
$forty: 40px;
$forty-five: 45px;
$fifty: 50px;
$fifty-five: 55px;
$sixty: 60px;
$seventy: 70px;
$eighty: 80px;

$hundred-parents: 100%;
$fifty-parents: 50%;

// font-width
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;

// Display
$flex: flex;
$align-center: center;


//position

$position-absolute: absolute;
$position-relative: relative;
$position-fixed: fixed;