// size
$one:1;
$five:5px;
$six:6px;
$eight:8px;
$ten:10px;
$thirty-two:32px;
$forty-five:45px;
$fifty:50px;
$seventy:70px;

$hundred-parents:100%;
$fifty-parents:50%;

// font-size
$Regular:400;
$Medium:500;
$SemiBold:600;
$Bold:700;

// Display
$flex:flex;
$align-center:center;