@import "../../../../asset/Sass/index";

.techwelfare_project {
    @include flex-box;

    & .project_item {
        border-radius: $ten;
        object-fit: contain;
        flex-shrink: $zero;
        width: 122px;
        background: #e1dede;
        max-height: 135px;
        margin-left: -$sixty;
        overflow: hidden;
        border: $two solid #ebebeb;
        @include all-box-shadow;

        &:first-child {
            margin: $zero;
        }

        & .more_project {
            @include flex-box-center;
            height: 135px;

            & h3 {
                font-weight: $SemiBold  !important;
                margin-bottom: $ten;
            }

            & p {
                color: $gray;
            }

        }
    }
}