@import "../../../asset/Sass/index";


.left_panel_body {
    min-height: $hundred-parents;

    & .MuiPaper-root {
        border-radius: $zero $forty $thirty $zero;
        border: $zero;
    }

    & .menu_bar {
        position: $position-absolute;
        padding: 10px;
        z-index: 999;
        background-color: #ccc !important;
    }

}

.appbar {
    display: none;
}

.left_panel {
    min-height: $hundred-parents;
    background: $white;
    border-radius: $zero $forty $thirty $zero;

    & .menu_sidebar {
        background: $primery-color;
        min-height: $hundred-parents;
        border-radius: $zero $forty $thirty $zero;
        padding: $twenty-five $five $twenty $five;
        @include flex-box-column;
        box-shadow: $onepx $two 18px $zero rgba(36, 151, 251, 0.44);
        -webkit-box-shadow: $onepx $two 18px $zero rgba(36, 151, 251, 0.44);
        -moz-box-shadow: $onepx $two 18px $zero rgba(36, 151, 251, 0.44);

        & .my_pic {
            width: $forty-five;
            height: $forty-five;
            overflow: hidden;
            border-radius: $fifty-parents;
            object-fit: contain;
            flex-shrink: $zero;
            border: $two solid $white;
            @include box-shadow;
        }
    }
}

.active_menu {
    color: $primery-color;
}


.social_media {
    @include flex-box-center;
    margin-bottom: 95px;

    & i {
        font-size: 0.8em;
    }

    & a {
        margin-top: $fifteen;
    }

    & .facebook {
        background-color: $facebook  !important;
        @include social-media-box-shadow;
        color: $white  !important;
    }

    & .whatsapp {
        background-color: $whatsapp  !important;
        @include social-media-box-shadow;
        color: $white  !important;
    }

    & .skype {
        background-color: $skype  !important;
        @include social-media-box-shadow;
        color: $white  !important;
    }

    & .mail {
        background-color: $mail  !important;
        @include social-media-box-shadow;
        color: $white  !important;
    }

    & .linkedin {
        background-color: $linkedin  !important;
        @include social-media-box-shadow;
        color: $white  !important;
    }

    & .phone {
        background-color: $phone  !important;
        @include social-media-box-shadow;
        color: $white  !important;
    }
}


.menu {
    flex-grow: $one;
    padding: $twenty-five $fifteen $fifteen $twenty-five;

    .profile {

        & p {
            font-size: 0.75em;
            font-weight: $SemiBold;
            color: $primery-color;
        }

        & h1 {
            font-size: 1.1em;
            font-weight: $Medium;
        }
    }

    .menu_item {
        @include menu-item-flex-box;
        margin-top: $fifty-five;

        & a {
            @include flex-box;
            color: $gray;
            font-size: 0.9em;
            font-weight: $Medium;
            gap: $fifteen;

            & i {
                @include menu-icon;
            }
        }
    }

}

.introduction i {
    color: $introduction;
}

.skills i {
    color: $skills;
}

.work i {
    color: $work;
}

.education i {
    color: $education;
}

.professional i {
    color: $professional;
}

.contact i {
    color: $contact;
}

.copy_right {
    position: $position-fixed;
    bottom: $thirty;
    left: $ten;
    padding: $twelve $forty-five $twelve $fifteen;
    gap: $ten;
    background-color: #EFF8FF;
    border-radius: $eighty $twenty-five $eighty $twenty-five;
    border: $onepx solid #8BC9F5;
    @include flex-box;

    & i {
        font-size: 1.4em;
        color: $primery-color;
    }

    & strong {
        color: $primery-color;
    }

    & span {
        font-size: 0.8em;
    }
}