@import "../src/asset/Sass/index";

body {
    font-family: "Segoe UI", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: $zero;
    padding: $zero;
    background-color: $body-color;
    background: $body-color;
    font-weight: $Medium  !important;

}

#root,
body,
html {
    overflow-x: hidden;
    height: $hundred-parents;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: $six;
    height: $six;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: $six;
}

::-webkit-scrollbar-track {
    background: transparent;
}

#root,
.MuiDrawer-paper,
body,
html {
    scrollbar-width: thin;
    scrollbar-color: #e3e3e3 transparent;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: $zero;
    margin: $zero;
    font-weight: $Medium  !important;
}

.d_flex {
    display: $flex;
}

.flex_grow1 {
    flex-grow: $one;
}

.gap_20 {
    gap: $twenty;
}

.gap_40 {
    gap: $forty;
}

.align_items {
    align-items: $align-center
}

.mt_40 {
    margin-top: $forty;
}

.w_100 {
    width: $hundred-parents;
}

img {
    width: $hundred-parents;
}

.main_content {
    padding: $twenty-five  !important;
}

.main_body {
    min-height: $hundred-parents;
}

.d-none {
    display: none;
}

.loading_wrapper {
    position: $position-fixed;
    z-index: 9999;
    top: $zero;
    left: $zero;
    width: $hundred-parents;
    height: $hundred-parents;
    background-color: rgba(0, 0, 0, 0.8);
}

.loader_container {
    position: $position-absolute;
    top: $fifty-parents;
    left: $zero;
    right: $zero;
    transform: translateY(-$fifty-parents);
    display: block;
    width: 40%;
    border-radius: $six;
    margin: auto;
    min-height: $eighty;
}

.Under {
    z-index: 999;
    position: $position-absolute;
    left: $zero;
    right: $zero;
    top: $zero;
    background: #2497FB;
    width: 242px;
    margin: auto;
    color: white;
    height: $thirty-two;
    padding: $fifteen;
    border-bottom-left-radius: $ten;
    border-bottom-right-radius: $ten;
}

.state_pending .copy_right {
    padding: $fifteen;
    bottom: 275px;
    left: $zero;
    right: $zero;
    width: 200px;
    margin: auto;
    font-size: 0.8em;
}

.state_pending {
    position: $position-absolute;
    top: $fifty-parents;
    transform: translateY(-$fifty-parents);
    left: $zero;
    width: $hundred-parents;
    line-height: 0;
    text-align: center;
    background: white;
    padding: $five;
    border-radius: 17px;
}


.state_pending img {
    border-radius: 15px;
}

// #under_duild {
//     position: $position-fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     z-index: 99999;
//     overflow: hidden;
// }

@media (max-width: 600px) {
    .loader_container {
        width: 90%;
    }
}