@import "../src/asset/Sass/index";
@import "../src/asset/Sass/responsive";

body {
    font-family: "Segoe UI", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: $zero;
    padding: $zero;
    background-color: $body-color;
    background: $body-color;
    font-weight: $Medium  !important;

}

#root,
body,
html {
    overflow-x: hidden;
    height: $hundred-parents;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: $six;
    height: $six;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2);
    border-radius: $six;
}

::-webkit-scrollbar-track {
    background: transparent;
}

#root,
.MuiDrawer-paper,
body,
html {
    scrollbar-width: thin;
    scrollbar-color: #e3e3e3 transparent;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: $zero;
    margin: $zero;
    font-weight: $Medium  !important;
}

.d_flex {
    display: $flex;
}

.flex_grow1 {
    flex-grow: $one;
}

.gap_20 {
    gap: $twenty;
}

.gap_40 {
    gap: $forty;
}

.align_items {
    align-items: $align-center
}

.mt_40 {
    margin-top: $forty;
}

.w_100 {
    width: $hundred-parents;
}

img {
    width: $hundred-parents;
}

.main_content {
    padding: $twenty-five  !important;
}

.main_body {
    min-height: $hundred-parents;
}

.d-none {
    display: none;
}



.state_pending .copy_right {
    padding: $fifteen;
    bottom: 275px;
    left: $zero;
    right: $zero;
    width: 200px;
    margin: auto;
    font-size: 0.8em;
}


.coming,
.main_content>div {
    height: 100%;
}

.coming_soon {
    width: 40%;
}